@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --bg-rose: #fdc0c2;
    --bg-purple: #9b71c9;
    --t-purple: #6e4497;
    --light: #ffffff;
    --t-orange: #ffba74;
    --grey: #766c6c;

    --main-font: 'Asap', sans-serif;
    --title-font: 'Raleway', sans-serif;
}